@import "../../variables";

.logo {
  cursor: pointer;
  padding: 3px;
  color: var(--colorPrimary600);

  path {
    transition: fill 0.2s ease;
  }

  &:hover {
    color: var(--colorPrimary500);
  }
}
